main {
  max-width: 590px;
  max-height: 703.483px;
}

.slider {
  position: relative;
  display: flex;
  width: 590px;
  height: 703.483px;
  overflow: hidden;
}

.slider img {
  position: absolute;
  width: 100%;
  object-fit: contain;
  z-index: 0;
  opacity: 0;
}

.arrows {
  display: flex;
  justify-content: flex-end;
  transform: translateY(-53px);
  margin: 0;
}

.arrows img {
  width: 60px;
  background-color: white;
  border: 0.5px lightgrey solid;
  padding: 20px 20px;
  margin: 0;
  cursor: pointer;
}

.arrow-prev-slide {
  transform: rotate(180deg);
}