section {
  max-width: 590px;
  max-height: 680px;
  overflow: hidden;
}

.slider {
  display: flex;
  flex: row nowrap;
  width: 100%;
}

.slider img {
  width: 100%;
  object-fit: contain;
  z-index: 0;
  cursor: grab;
}

.slider-elements {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(-73px);
}

.arrows img {
  width: 60px;
  background-color: white;
  border: 0.5px lightgrey solid;
  padding: 20px 20px;
  margin: 0;
  cursor: pointer;
}

.arrow-prev-slide {
  transform: rotate(180deg);
}

.dots {
  display: flex;
  flex: row nowrap;
  list-style: none;
  padding: 0;
  margin: 0 0 0 50px;
}

.dots li {
  background-color: hsla(197, 10%, 87%, 25%);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  padding: 0;
  margin: 2px;
}
